@import "../Vars.scss";

.detailMachine {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  color: $machine-cards-color;
}

.detailMachine-container {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;

}

.detailMachine-container__infoLine {
  margin: 0px 0px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.detailMachine-container__infoLine p {
  margin: 5px 5px;
}

.detailMachine-container__infoLine p:first-of-type {
  font-weight: bolder;
}

.detailMachine-action {
  display: flex;
  justify-content: space-evenly;
}

.detailMachine-action p {
  margin: 10px 10px;
}

.detailMachine-action a {
  text-decoration: none;
  color: #9ad2d9;
}

.detailMachine-action a:hover {
  text-decoration: underline;
}