@import "../Vars.scss";

@media only screen and (min-width: 600px){
  $color-desk: gray;
  body{
      //display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      background-color: #F2F2F2;
  }
  .signin-container{
      font-family: $default-font;
      position: relative;
      //height: 70vh;
      //width: 70%;
      //border: 2px solid blue;
      display: flex;
      justify-content: center;
  }
  .signin-container__welcome{
      width: 50%;
      //height: 70vh;
      left: 0%;
  }   
  .signin-container__user-sign{
      position: absolute;
      width:50%;
      height: 100%;
      //border: 2px solid gray;
      left: 75%;
      top: 0%;
      background-color: white;
      
  }
  .signin-container__welcome img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.4;
  }
  .signin-container__user-sign--form p{
      margin-left: 20px;
      font-weight: bold;
      font-size: 25px;
      margin-top: 15px;
      color: $color-desk;
  }
  .input-signin{
      border-bottom:2px solid  gray;
  }

  .signin-container__user-sign--rememberme a{
      color: $color-desk;
      font-size: 16px;
  }
  .signin-container__user-sign--rememberme label{
      color: $color-desk;
      font-size: 14px;
  }

  .signin-container__user-sign--social{
      padding: 10px;
  }
  /* .signin-container__user-sign--social div > img{
      margin: 0px 10px;
  } */
  .signin-container__user-sign--social h2{
      color: $color-desk;
      font-size: 16px;
  }

  ::placeholder{
      color: $color-desk;
  }
}